.action-btns {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  width: 56px;
  height: 56px;
  background: none;
}

.icon img {
  max-width: 100%;
  height: auto;
}
/* map box */
#map {
  height: 250px;
  width: 250px;
}

#inputFile {
  width: 95px;
  padding: 0;
  height: 24px;
  position: relative;
  top: 25%;
}

.inline-distant {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
